<table width="100%" style="box-shadow: 0px 0px 4px 1px #B8B8B8; background-color: #ffffff; padding: 1em 2em 2em 2em; min-height: 200px;">
    <tbody>
        <tr>
            <td>
                <table width="100%" style="padding-top:10px;">
                    <tbody>
                        <tr>
                            <td width="75px">
                                <img src="http://{{host}}/dist/images/icone/email-photo.png" />
                            </td>
                            <td align="left" style="font-weight: normal; font-size: 22px; color:#f26a94;">
                                Uploaded photo
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" style="padding: 0 0 0 82px; color: #818181;">
                    <tbody>
                        <tr>
                            <td>
                                Hi {{upload.get('nom_upload')}},<br/><br/>
                                We received the photo you uploaded on <a href="http://{{host}}/" style="outline:none;text-decoration:none;border-top:none; border-left:none; border-right:none; color:#4bb6d1;">{{host}}</a> :<br/><br/>
                                <img src="http://{{host}}/{{upload.get('path')}}" style="max-width:444px;" /><br/><br/>
                                You will be notified of the team's decision about your photo.
                                <br/><br/>
                                Have a nice day.<br/><br/>
                                <div style="text-align:right">Say it with kitten team</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>