<table width="100%" style="box-shadow: 0px 0px 4px 1px #B8B8B8; background-color: #ffffff; padding: 1em 2em 2em 2em; min-height: 200px;">
    <tbody>
        <tr>
            <td>
                <table width="100%" style="padding-top:10px;">
                    <tbody>
                        <tr>
                            <td width="75px">
                                <img src="https://sayitwithkittens.io/dist/images/icone/email-photo.png" />
                            </td>
                            <td align="left" style="font-weight: normal; font-size: 22px; color:#f26a94;">
                                Uploaded photo
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" style="padding: 0 0 0 82px; color: #818181;">
                    <tbody>
                        <tr>
                            {% if accept %}
                                <td>
                                    Hi {{upload.get('nom_upload')}},<br/><br/>
                                    We accepted the photo you uploaded on <a href="http://sayitwithkittens.io/" style="outline:none;text-decoration:none;border-top:none; border-left:none; border-right:none; color:#4bb6d1;">sayitwithkittens.io</a> :<br/><br/>
                                    <img src="https://sayitwithkittens.io/{{upload.get('path')}}" style="max-width:444px;" /><br/><br/>
                                    Now you can share to the world your words with your cat's face !
                                    <br/>
                                    <table width="100%" style="padding-top:40px;padding-bottom:40px;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                     <a href="https://sayitwithkittens.io/generate/?bg={{upload.id_kitten}}" style="padding: 6px 20px;color:#f26a94;border: 2px solid #f26a94;background-color: transparent;text-align: center;border-radius: 3px;font-size:14px;text-decoration:none;outline:none;display:block;">
                                                        What's on your mind ? ...
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br/>
                                    Have a nice day.<br/><br/>
                                    <div style="text-align:right">Say it with kittens team</div>
                                </td>
                            {% else %}
                                <td>
                                    Hi {{upload.get('nom_upload')}},<br/><br/>
                                    We are sorry to announce you the photo you uploaded on <a href="https://sayitwithkittens.io/" style="outline:none;text-decoration:none;border-top:none; border-left:none; border-right:none; color:#4bb6d1;">sayitwithkittens.io</a> has been rejected for the following reason : <br/><br/>
                                    <span style="text-decoration:underline;color:black">{{reason}}</span><br/><br/>
                                    <img src="https://sayitwithkittens.io/{{upload.get('path')}}" style="max-width:444px;" /><br/><br/>
                                    But don't give up, try another picture right now and share it with the world !
                                    <br/>
                                    <table width="100%" style="padding-top:40px;padding-bottom:40px;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                     <a href="https://sayitwithkittens.io/upload/" style="padding: 6px 20px;color:#f26a94;border: 2px solid #f26a94;background-color: transparent;text-align: center;border-radius: 3px;font-size:14px;text-decoration:none;outline:none;display:block;">
                                                        Upload another photo                                                    
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br/>
                                    Have a nice day.<br/><br/>
                                    <div style="text-align:right">Say it with kittens team</div>
                                </td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>