{% extends 'squelette.html.twig' %}

{% block meta %}
	<title>{{img.get('texte')}} - Say it with kittens</title>

	<!-- Facebook -->
	<meta property="og:title" content="{{img.get('texte')}} - Say it with kittens">
	<meta property="og:type" content="website">
	<meta property="og:description" content="Say whatever you want with a cuuute kitten ! Free your mind ...">
	<meta property="og:image" content="http://sayitwithkittens.io/assets/generate/kitten_{{img.get('filename')}}.png">
	<meta property="og:url" content="http://sayitwithkittens.io/cat/{{img.get('id_image')}}">
	<meta property="og:site_name" content="sayitwithkittens.io">
	<meta property="fb:admins" content="1614882856">

	<!-- Google+ -->
	<meta itemprop="name" content="{{img.get('texte')}} - Say it with kittens">
	<meta itemprop="description" content="Say whatever you want with a cuuute kitten ! Free your mind ...">
	<meta itemprop="image" content="http://sayitwithkittens.io/assets/generate/kitten_{{img.get('filename')}}.png">

	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@CBRPLX">
	<meta name="twitter:title" content="{{img.get('texte')}} - Say it with kittens">
	<meta name="twitter:description" content="Say whatever you want with a cuuute kitten ! Free your mind ...">
	<meta name="twitter:creator" content="@CBRPLX">
	<meta name="twitter:image:src" content="http://sayitwithkittens.io/assets/generate/kitten_{{img.get('filename')}}.png">
{% endblock %}

{% block header %}
	{% if img.get('id_kitten') != "" %}
		<div class="bloc-header" style="background-image:url('../assets/kittens/kitten_{{img.get('id_kitten')}}.jpg')">
	{% else %}
		<div class="bloc-header">
	{% endif %}
		<div class="bloc-header-overlay">
			<div class="bloc-header-contenu kitten">
				<div class="row txtcenter txtmiddle row-mobile">
					<div class="col txtcenter txtmiddle pas col-mobile relative">
						{# <div class="row row-mobile txtcenter" style="max-width:50%;margin:auto;border-top:2px solid white;border-left:2px solid white;border-right:2px solid white;border-top-left-radius:5px;">
							<div class="col col-mobile txtleft">
								<span href="#" class="pas inbl h5-like">
									<i class="fa fa-chevron-left"></i>
								</span>
							</div>
							<div class="col col-mobile txtright">
								<span href="#" class="pas inbl h5-like">
									<i class="fa fa-chevron-right"></i>
								</span>
							</div>
						</div> #}
						<img id="the-kitten" src="/dist/images/kitten_overlay.png"/>
						<div class="loading-paws">
							<i class="fa fa-paw fa-spi"></i>
							<i class="fa fa-paw fa-spi"></i>
							<i class="fa fa-paw fa-spi"></i>
							<i class="fa fa-paw fa-spi"></i>
							<i class="fa fa-paw fa-spi pbs"></i>
                    		<span class="proxima-bold h6-like">Loading</span><span class="typed-text proxima-bold h6-like"></span>
						</div>
						<div class="kitten-options txtcenter proxima-bold row row-mobile h5-like">
							<div class="kitten-options-left col col-mobile w60">
								<div class="kitten-options-left-top pointer transition-fast">
									<a class="inbl w100 pas not-a-like" href="/assets/generate/kitten_{{img.get('filename')}}.png" download>
										<span class="txtmiddle">Download <span class="tiny-hidden small-hidden">your kitten</span></span> &nbsp; <i class="fa fa-download txtmiddle"></i>
									</a>
								</div>
								<div class="kitten-options-left-bottom clearfix">
									<div class="like {% if like %} liked {% endif %}
												w33 left inbl pointer transition-fast">
										<a class="inbl w100 pas not-a-like" href="#">
											<i class="fa fa-heart"></i>&nbsp;
										</a>
									</div>
									<div class="facebook w33 left inbl pointer transition-fast">
										<a class="inbl w100 pas not-a-like" href="https://www.facebook.com/dialog/share?app_id=1569268633335610&display=page&href=http://sayitwithkittens.io/cat/{{img.get('id_image')}}&redirect_uri=http://sayitwithkittens.io/cat/{{img.get('id_image')}}" target="_blank">
											<i class="fa fa-facebook"></i>&nbsp;
										</a>
									</div>
									<div class="twitter w33 right inbl pointer transition-fast">
										<a class="inbl w100 pas not-a-like" href="https://twitter.com/intent/tweet?original_referer=http://sayitwithkittens.io/cat/{{img.get('id_image')}}&tw_p=tweetbutton&url=http://sayitwithkittens.io/cat/{{img.get('id_image')}}" target="_blank">
											<i class="fa fa-twitter"></i>&nbsp;
										</a>
									</div>
								</div>
							</div>
							<div class="kitten-options-right col col-mobile w40 txtmiddle pas pointer transition-fast">
								<a class="inbl w100 pas pbn not-a-like" href="/generate/">
									<i class="fa fa-refresh fa-lg"></i>
									<div class="pts tiny-hidden small-hidden">Create another kitten</div>
								</a>
							</div>
						</div>
					</div>
				</div>

				{% if previous %}
					<div class="previous-kitten h4-like">
						<a href="/cat/{{previous.get('id_image')}}" class="pal">
							<i class="fa fa-chevron-left"></i>
						</a>
					</div>
				{% endif %}

				{% if next %}
					<div class="next-kitten h4-like">
						<a href="/cat/{{next.get('id_image')}}" class="pal">
							<i class="fa fa-chevron-right"></i>
						</a>
					</div>
				{% endif %}
			</div>
		</div>
</div>

<script type="text/javascript">
	function LoadImage() {
	    var img = new Image(),
	        x = document.getElementById("the-kitten");

	    img.onload = function() {
	        x.src = img.src;
	        $('.loading-paws').css('display', 'none');
	    };

	    img.src = "/assets/generate/kitten_{{img.get('filename')}}.png" + "?_=" + (+new Date());
	}

	LoadImage();


	$(".like a").click(function(e){
		e.preventDefault();

		if(!$(this).parent().hasClass('liked')){
			var retour = file("/inc/ajax/like_kitten.php", "id_image={{img.get('id_image')}}");
			console.log(retour);
			$(this).parent().addClass('liked');
		}
	});

	$(function(){
	      $(".typed-text").typed({
	        strings: ["^3..."],
	        typeSpeed: 300,
	        loop: true
	      });
	  });
</script>
{% endblock %}