{% extends 'squelette.html.twig' %}

{% block meta %}
	<title>Preview {{img.get('texte')}} - Say it with kittens</title>

	<!-- Facebook -->
	<meta property="og:title" content="Preview {{img.get('texte')}} - Say it with kittens">
	<meta property="og:type" content="website">
	<meta property="og:description" content="Say whatever you want with a cuuute kitten ! Free your mind ...">
	<meta property="og:image" content="https://sayitwithkittens.io/assets/preview/kitten_{{img.get('filename')}}.png">
	<meta property="og:url" content="https://sayitwithkittens.io/cat/{{img.get('id_image')}}">
	<meta property="og:site_name" content="sayitwithkittens.io">
	<meta property="fb:admins" content="1614882856">

	<!-- Google+ -->
	<meta itemprop="name" content="Preview {{img.get('texte')}} - Say it with kittens">
	<meta itemprop="description" content="Say whatever you want with a cuuute kitten ! Free your mind ...">
	<meta itemprop="image" content="https://sayitwithkittens.io/assets/preview/kitten_{{img.get('filename')}}.png">

	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@CBRPLX">
	<meta name="twitter:title" content="Preview {{img.get('texte')}} - Say it with kittens">
	<meta name="twitter:description" content="Say whatever you want with a cuuute kitten ! Free your mind ...">
	<meta name="twitter:creator" content="@CBRPLX">
	<meta name="twitter:image:src" content="https://sayitwithkittens.io/assets/preview/kitten_{{img.get('filename')}}.png">
{% endblock %}

{% block header %}
	{% if img.get('id_kitten') != "" %}
		<div class="bloc-header" style="background-image:url('/assets/kittens/kitten_{{img.get('id_kitten')}}.jpg')">
	{% else %}
		<div class="bloc-header">
	{% endif %}
		<div class="bloc-header-overlay">
			<div class="bloc-header-contenu kitten">
				<div class="row txtcenter txtmiddle row-mobile">
					<div class="col txtcenter txtmiddle pas col-mobile relative">
						{# <div class="row row-mobile txtcenter" style="max-width:50%;margin:auto;border-top:2px solid white;border-left:2px solid white;border-right:2px solid white;border-top-left-radius:5px;">
							<div class="col col-mobile txtleft">
								<span href="#" class="pas inbl h5-like">
									<i class="fa fa-chevron-left"></i>
								</span>
							</div>
							<div class="col col-mobile txtright">
								<span href="#" class="pas inbl h5-like">
									<i class="fa fa-chevron-right"></i>
								</span>
							</div>
						</div> #}
						<img id="the-kitten" src="/dist/images/kitten_overlay.png"/>
						<div class="loading-paws">
							<i class="fa fa-paw fa-spi"></i>
							<i class="fa fa-paw fa-spi"></i>
							<i class="fa fa-paw fa-spi"></i>
							<i class="fa fa-paw fa-spi"></i>
							<i class="fa fa-paw fa-spi pbs"></i>
                    		<span class="proxima-bold h6-like">Loading</span><span class="typed-text proxima-bold h6-like"></span>
						</div>
						<div class="kitten-options kitten-preview txtcenter proxima-bold row row-mobile h5-like">
							<div class="kitten-preview-left col col-mobile w50">
								<div class="kitten-cancel pointer transition-fast">
									<a class="inbl w100 pas not-a-like btn-modify" href="/generate/">
										<span class="txtmiddle">Modify</span> &nbsp; <i class="fa fa-undo txtmiddle"></i>
									</a>
								</div>
							</div>
							<div class="kitten-preview-right col col-mobile w50">
								<div class="kitten-validate pointer transition-fast">
									<a class="inbl w100 pas not-a-like btn-validate" href="/cat/{{img.get('id_image')}}/">
										<span class="txtmiddle">Validate</span> &nbsp; <i class="fa fa-check txtmiddle"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>

<script>
	function LoadImage() {
	    var img = new Image(),
	        x = document.getElementById("the-kitten");

	    img.onload = function() {
	        x.src = img.src;
	        $('.loading-paws').css('display', 'none');
	    };

	    img.src = "/assets/preview/kitten_{{img.get('filename')}}.png" + "?_=" + (+new Date());
	}

	LoadImage();

	$('.btn-modify').click(function(e){
		e.preventDefault();

		sessionStorage.setItem("kitten_txt","{{img.get('texte')}}");
		sessionStorage.setItem("kitten_pseudo","{{img.get('pseudo')}}");
		
		file("/inc/ajax/load_kitten_bg.php", "id_kitten={{img.get('id_kitten')}}");

		window.location.href = "/generate/";
	});

	$('.btn-validate').click(function(e){
		e.preventDefault();
		var retour = file("/inc/ajax/preview_kitten.php", "id_image={{img.get('id_image')}}");

		if(retour == ""){
			sessionStorage.removeItem("kitten_txt");
			sessionStorage.removeItem("kitten_pseudo");

			window.location.href = "/cat/{{img.get('id_image')}}/";
		}else{
			alert("Error, please try again");

			$('.btn-modify').trigger('click');
		}
	});

	$(function(){
	      $(".typed-text").typed({
	        strings: ["^3..."],
	        typeSpeed: 300,
	        loop: true
	      });
	  });

</script>
{% endblock %}